@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Force the font on the root */
html, body {
  font-family: 'Synonym', sans-serif !important;
  scroll-behavior: smooth;
}

/* 2. Force the font on all headers */
h1, h2, h3, h4, h5, h6, .amulya-font {
  font-family: 'Amulya', sans-serif !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}